<header>
  <h1>Phone Store</h1>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/phones">Our Phones</a>

    <span *ngIf="!userTruc.currentUser">
      <a routerLink="/signup">Sign Up</a>
      <a routerLink="/login">Log In</a>
    </span>

    <span *ngIf="userTruc.currentUser">
      <b>{{userTruc.currentUser.username}}</b>
      <button (click)="logoutClick()">Log Out</button>
    </span>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>Made with 📞 at Ironhack.</p>
</footer>
